/* ENVIRO */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /* Primary */

  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */

  --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

* {
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.container {
  max-width: 900px;
  padding: 20px;
  margin: auto;
  display: inline-flex;
}

.text {
  h1 {
    color: var(--Very-light-gray-background-headings-buttons);
    font-family: "Big Shoulders Display";
    padding: 10px 0 10px 20px;
    font-size: 2rem;
  }

  p {
    color: var(--Transparent-white-paragraphs);
    font-family: "Lexend Deca";
    font-size: 1rem;
    padding: 20px;
  }

  a {
    font-family: "Lexend Deca";
    text-decoration: none;
    background-color: var(--Very-light-gray-background-headings-buttons);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 140px;
    min-height: 40px;
    border-radius: 20px;
    margin: 40px 20px 20px 20px;
  }

  a:hover {
    cursor: pointer;
    color: var(--Very-light-gray-background-headings-buttons);
    background-color: transparent;
    border: 2px solid var(--Very-light-gray-background-headings-buttons);
    max-width: 140px;
    min-height: 36px;
  }
}

img {
  padding: 20px;
  max-width: 50px;
}

/* SEDANS */

.card1 {
  background-color: var(--Bright-orange);
  max-width: 300px;
  min-height: auto;
  text-align: left;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  a {
    color: var(--Bright-orange);
  }
}

/* SUVS */

.card2 {
  background-color: var(--Dark-cyan);
  max-width: 300px;
  min-height: auto;
  text-align: left;
  padding: 20px;
  a {
    color: var(--Dark-cyan);
  }
}

/* LUXURY */

.card3 {
  background-color: var(--Very-dark-cyan);
  max-width: 300px;
  min-height: auto;
  text-align: left;
  padding: 20px;
  border-radius: 0 10px 10px 0;
  a {
    color: var(--Very-dark-cyan);
  }
}

/* MEDIA QUERIES */

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: none;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;

    .card1,
    .card2,
    .card3 {
      min-width: 100%;
      width: 100%;
      padding: 0;
      margin: auto;
    }

    .card1 {
      border-radius: 10px 10px 0 0;
    }

    .card3 {
      border-radius: 0 0 10px 10px;
    }

    img {
      padding: 40px 0 0 40px;
      min-width: 80px;
    }

    .text {
      padding: 20px;
    }
  }
}

@media (max-width: 475px) {
  .container {
    max-width: none;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;

    .card1,
    .card2,
    .card3 {
      min-width: 100%;
      width: 100%;
      padding: 0;
      margin: auto;
    }

    .card1 {
      border-radius: 10px 10px 0 0;
    }

    .card3 {
      border-radius: 0 0 10px 10px;
    }

    img {
      padding: 40px 0 0 40px;
      min-width: 80px;
    }

    .text {
      padding: 20px;
    }
  }
}
